.section1 {
  background-color: lightblue
}

.section2 {
  background-color: white
}
body {
    background-repeat : no-repeat;
    background-size:;
    background-color: blueviolet, white;
    background-position: bottom, top;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;            }
  
    .container {
  width: 80%;
  margin: 0 auto;
  border: 5px dotted white;
  background-color: aquamarine;
}
.header {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content {
  text-align: justify;
}
p {
color: black;
font-size: smaller;
}

h4 {
    font-weight: bold;
    text-align: center;
    
th, td {
    border-color: violet;
    border: 5px
    } 

li {
color: white;
font-weight: bold;
}

}
h1 {
font-size: 20px;
text-align: left;
}
       h2 {
font-size: 20px;
background-color:dimgray;
text-align: center;
color: white;
       }

       img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }